#header_image {
    width: 100%
}
.button {
    height: 2rem;
    line-height: 2rem;
    padding: 0 .8rem;
}
.button:hover,
.botton:focus {
    border-color: #112E66
}
.button:focus {
    background-color: #b9c2d0
}
.selected {
    background-color: #b9c2d0
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem
}
.row ~ .row,
[class*='column'] ~ [class*='column'] {
    margin-top: 0rem;
}