{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="row">
    {% for message in messages %}
      <h6 class="flash">{{ message }} </h6>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <div class="row">
      {% for output_port, output_label in outputs.items() %}
      <div class="three columns">
        <h5>{{ output_label }}</h5>
        {% for input_port, input_label in inputs.items() %}
        {% if connections[output_port] == input_port %}
        <a class="button selected" href="/switch?output_port={{ output_port }}&input_port={{ input_port }}">{{ input_label }}</a>
        {% else %}
        <a class="button" href="/switch?output_port={{ output_port }}&input_port={{ input_port }}">{{ input_label }}</a>
        {% endif %}
        {% endfor %}
        <a class="button button-primary" href="/disconnect/{{ output_port }}">Disconnect</a>
      </div>
      {% endfor %}
      <div class="three columns">
        <h5>All Outputs</h5>
        {% for input_port, input_label in inputs.items() %}
        <a class="button" href="/connect_all?input_port={{ input_port }}">{{ input_label }}</a>
        {% endfor %}
        <a class="button button-primary" href="/disconnect">Disconnect</a>
      </div>
    </div>
    <div class="row">
      <a class="button button-primary u-pull-right" href="/logout">Logout {{ session['username'] }}</a>
    </div>
{% endblock %}